<li
  class="p-2 border-t border-gray-700 flex justify-between"
  id="todo-{{ .ID  }}"
>
  <form class="flex w-full">
    <div class="flex items-center w-full">
      <input
        type="text"
        name="text"
        id="text"
        hx-patch="/todo/{{ .ID }}"
        hx-trigger="keyup[keyCode==13]"
        hx-target="#todo-{{ .ID  }}"
        hx-swap="outerHTML"
        value="{{ .Text }}"
        class="input focus:outline-0 bg-transparent text-xl w-full"
        onfocus="this.setSelectionRange(this.value.length,this.value.length)"
        onfocusout="htmx.ajax('PATCH', '/todo/{{ .ID }}', {target:'#todo-{{ .ID }}', swap:'outerHTML'})"
        autofocus
      />
    </div>
    <button
      hx-patch="/todo/{{ .ID }}"
      hx-target="#todo-{{ .ID  }}"
      hx-swap="outerHTML"
      class="btn btn-outline btn-success btn-circle"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-check"
      >
        <polyline points="20 6 9 17 4 12" />
      </svg>
    </button>
  </form>
</li>
