{{ template "partials/nav" }}

<div class="container mx-auto mt-8 flex flex-col justify-center items-center">
  <h1 class="text-6xl font-bold text-center mb-8">todos</h1>

  <div class="container w-3/4">
    <div class="join flex mb-4 border border-gray-700 join-item">
      <input
        type="text"
        name="text"
        class="input text-xl focus:outline-0 grow join-item"
        hx-post="/todo"
        hx-trigger="keyup[keyCode==13]"
        hx-indicator="#add-indicator"
        hx-target="#list"
        hx-swap="afterbegin"
        hx-on::after-request="this.value=''"
        placeholder="Add a task..."
      />

      <div id="add-indicator">
        <button class="btn flex-none join-item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-plus indicator-replace"
          >
            <path d="M5 12h14" />
            <path d="M12 5v14" />
          </svg>
          <span
            class="loading loading-spinner loading-md htmx-indicator"
          ></span>
        </button>
      </div>
    </div>
    <ul
      id="list"
      class="w-full text-xl grid grid-cols-1 divide-y divide-gray-700 px-2"
    >
      {{ range .Todos }} {{ template "partials/todo-item" . }} {{end}}
    </ul>
  </div>
</div>
